discord.py==1.5.1
environs==9.2.0
gspread==3.6.0
aiohttp==3.7.3
pyyaml==5.3.1
python-slugify==4.0.1
emoji==0.6.0
dateparser==1.0.0
pytz==2020.4
psycopg2==2.8.6
holidays==0.10.4
python-dateutil==2.8.1
.
