-r requirements.txt
asynctest==0.13.0
freezegun==1.2.2
pre-commit==2.21.0
PyJWT==2.6.0
pyright==0.0.13.post0
pytest-asyncio==0.18.3
python-semantic-release==7.34.2
SQLAlchemy-Utils==0.39.0
syrupy==3.0.6
