-r requirements.txt
asynctest==0.13.0
freezegun==1.4.0
pre-commit==3.6.2
PyJWT==2.8.0
pyright==0.0.13.post0
pytest-asyncio==0.24.0
python-semantic-release==7.34.6
SQLAlchemy-Utils==0.41.1
syrupy==3.0.6
