-r requirements.txt
black==20.8b1
flake8-bugbear==21.4.3
flake8==3.9.2
freezegun==1.1.0
python-semantic-release==7.15.5
syrupy==1.2.3
SQLAlchemy-Utils==0.37.4
pytest-asyncio==0.15.1
asynctest==0.13.0
pre-commit==2.13.0
mypy==0.812
