ariadne==0.16.1
disnake==2.4.0
environs==9.5.0
gspread==5.7.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
pyyaml==6.0
python-slugify==6.1.2
emoji==2.2.0
dateparser==1.1.3
nameparser==1.1.2
nanoid==2.0.0
pytz==2022.6
psycopg2==2.9.5
holidays==0.13
python-dateutil==2.8.2
# catchphrase
PyYAML==6.0
# meetings
python-slugify==6.1.2
# cuteid
emoji==2.2.0
# database
databases[postgresql]==0.4.3
SQLAlchemy==1.3.23
alembic==1.8.1
.
