ariadne==0.17.1
disnake==2.4.0
environs==9.5.0
gspread==5.12.4
aiohttp==3.8.6
aiohttp-cors==0.7.0
pyyaml==6.0.1
python-slugify==8.0.4
emoji==2.10.1
dateparser==1.2.0
nameparser==1.1.3
nanoid==2.0.0
pytz==2022.7.1
psycopg2==2.9.9
holidays==0.13
python-dateutil==2.9.0.post0
# catchphrase
PyYAML==6.0.1
# meetings
python-slugify==8.0.4
# cuteid
emoji==2.10.1
# database
databases[postgresql]==0.4.3
SQLAlchemy==1.3.23
alembic==1.13.1
.
